<!DOCTYPE html>
<html lang="es">

<head>
    <title>index</title>
    <!-- Styles -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header id="header">
        <div class="logo">
            <img src="/images/MercadoLibre.png" alt="imageLogo">
        </div>
        <div class="container-searchbar">
            <div class="searchbar">Buscar productos, marcas </div>
            <button id="button-search"><i class="fas fa-search"></i></button>
        </div>
        <p id="notice"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
        <nav class="navbar">
            <ul>
                <li><a href="o">Ofertas</a></li>
                <li><a href="o">Tiendas Oficiales</a></li>
                <li><a href="o">Vender</a></li>
                <li><a href="o">Ayuda</a></li>
            </ul>
        </nav>
        <br>
        <nav class="loginbar">
            <ul>
                <li><a href="o">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="o">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="o">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <br>
    </header>
    <main>
        <img id="banner" src="/images/img-home-banner.jpg" alt="Banner.png">
        <h2>Basado en tu última visita</h2>
        <section><!--Basado en última visita-->
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <div>
                    <div class="envio">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precio">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <p class="descripciones">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <div>
                    <div class="envio">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precio">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <p class="descripciones">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                <div>
                    <div class="envio">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precio">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <p class="descripciones">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                <div>
                    <div class="envio">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precio">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                    <p class="descripciones">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
        <h2>Ofertas</h2>
        <section><!--Ofertas-->
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <div>
                    <div class="envio">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precio">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <p class="descripciones">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <div>
                    <div class="envio">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precio">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <p class="descripciones">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                <div>
                    <div class="envio">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precio">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    <p class="descripciones">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                <div>
                    <div class="envio">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precio">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                    <p class="descripciones">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section class="footer-section"><!--Pagá con targeta o en efectivo-->
            <div class="footer-icono">
                <i class="fas fa-credit-card"></i>
            </div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, ténes cuotas sin interés
                con tarjeta o efectivo en puntos de pago.
                ¡Y siempre es seguro!</p>
        </section>
        <section class="footer-section"><!--Envío gratis desde $2.500-->
            <div class="footer-icono">
                <i class="fas fa-gift"></i>
            </div>
            <h3>Envio gratis desde $2.500</h3>
            <p>solo por estar registrad@ en Mercado Liebre tenés
                envios gratis en miles de productos.
                Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="footer-section"><!--Seguridad de principio a fin-->
            <div class="footer-icono">
                <i class="fas fa-user-shield"></i>
            </div>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusto? ¡Devuelvemelo! En MercadoLiebre no
                hay nada que no puedas hacer porque estás siempre
                protegido.</p>
        </section>
        <p>Copyright © 2000-2024 MercadoLiebre S.R.L</p>
    </footer>
</body>

</html>